
@{
    ViewBag.Title = "Carrello";
    decimal totale = 0;
}

<h2>Carrello</h2>

<section class="carrello">

    @if (totale ==0)
    {
        <div class="empty-cart">
            <p>Al momento il tuo Carrello è vuoto... vai su <a href="@Url.Action("Index", "Shop")">Articoli</a> per aggiungerne qualcuno!</p>
        </div>
    }
    else
    {

        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Articolo</th>
                    <th scope="col">Prezzo per 1</th>
                    <th scope="col">Quantità Ordinata</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var articolo in Model)
                {
                    totale += articolo.Prezzo * articolo.Quantita;

                    <tr>
                        <th scope="row">@articolo.NomeArticolo</th>

                        <td>@articolo.Prezzo</td>
                        <td>@articolo.Quantita</td>
                    </tr>

                    // TODO: FINIRE STILE QUI E IN ORDER
                }
            </tbody>
        </table>
    }


</section>


@if (Model != null && totale != 0)
{
    <section class="cart-total">
        <p>Totale: <span>€@totale</span></p>
        <a class="text-uppercase" href="@Url.Action("Order")">Conferma e vai al Riepilogo Ordine</a>
    </section>
}


@section Styles {
    <style>
        h2 {
            margin-top: 5px;
            font-size: 100px;
        }

        .carrello {
            background-color: var(--aWhite);
            padding: 10px 20px;
            border-radius: 20px;
            margin-bottom: 40px;
        }

        .empty-cart {
            color:black;
            font-size: 2rem;
        }

        .cart-total {
            background-color: var(--aWhite);
            border-radius: 20px;
            padding: 20px 20px;
            margin-top: 40px;
            color: black;
            width: 350px;
        }

            .cart-total p {
                font-size: 2rem;
                font-weight: bold;
            }

            .cart-total span {
                color: #00CC3D;
            }
    </style>
}