
@{
    ViewBag.Title = "AddArticle";
}

@model pizzeriaS7L.Models.Articoli

<div class="d-flex align-items-center justify-content-center flex-column h-100">
    <h2>Articolo</h2>

    <div class="form-container">
        @using (Html.BeginForm("AddArticle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Nome)
                @Html.EditorFor(m => m.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Nome)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Prezzo)
                @Html.EditorFor(m => m.Prezzo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Prezzo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TempoConsegna, "Tempo di Consegna")
                @Html.EditorFor(m => m.TempoConsegna, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.TempoConsegna, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Ingredienti)
                @Html.EditorFor(m => m.Ingredienti, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Ingredienti, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Foto, "Immagine")*@
                <input type="file" name="Foto" id="Foto" />
            </div>

            <div class="login-container text-center">
                <button>
                    <ion-icon name="pizza"></ion-icon>
                    <p>Aggiungi</p>
                </button>
            </div>
        }
    </div>


</div>

@section Styles {
    <style>
        h2 {
            font-size: 7rem;
            margin-bottom: 30px;
        }

        .form-container {
            padding: 20px 80px 5px 80px;
            background-color: white;
            border-radius: 20px;
            color: black;
        }

            .form-container input {
                margin-bottom: 15px;
                width: 100%;
            }


            .form-container ion-icon {
                color: #ffa117;
                font-size: 150px;
                transform:rotate(295deg);
            }

            .form-container button {
                position: relative;
                text-transform: uppercase;
                border: none;
                background-color: transparent;
                font-weight: bold;
            }

                .form-container button p {
                    position: absolute;
                    transform: rotate(12deg);
                    top: 61px;
                    left: 34px;
                    color: black;
                }

       

            /* Stile per il pulsante di selezione del file */
        input[type="file"]::-webkit-file-upload-button {
            background-color: #ffa117; /* Colore di sfondo del pulsante */
            color: #fff; /* Colore del testo del pulsante */
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

          
    </style>
}
