
@{
    ViewBag.Title = "Register";
}

@model pizzeriaS7L.Models.Utenti

<div class="d-flex align-items-center justify-content-center flex-column h-100">

    <h2>Register</h2>
    <div class="form-container">

        @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.Email, "Inserisci Email:")
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Username, "Inserisci Username:")
                @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, "Inserici Password:")
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="login-container text-center">
                <button>
                    <ion-icon name="leaf"></ion-icon>
                    <p>Registrati</p>
                </button>
            </div>
        }

        <div>
            <a href="@Url.Action("Login", "Auth")">Hai un account? Vai al Login</a>
        </div>

    </div>
</div>

@section Styles {
    <style>
        h2 {
            font-size: 7rem;
            margin-bottom: 30px;
        }

        .form-container {
            padding: 20px 80px;
            background-color: white;
            border-radius: 20px;
            color: black;
        }

            .form-container input {
                margin-bottom: 15px;
                width: 100%;
            }


            .form-container ion-icon {
                color: forestgreen;
                font-size: 120px;
            }

            .form-container button {
                position: relative;
                text-transform: uppercase;
                border: none;
                background-color: transparent;
                font-weight: bold;
            }

                .form-container button p {
                    position: absolute;
                    transform: rotate(33deg);
                    top: 39px;
                    left: 14px;
                    color: white;
                }
    </style>

}