
<div class="menuToggle"></div>
<nav class="sidebar">
    <ul>
        <li class="logo" style="--bg:#333;">
            <a href="@Url.Action("Index", "Home")">
                <div class="icon">
                    <ion-icon name="pizza-outline"></ion-icon>
                </div>
                <div class="text">AL FORNO</div>
            </a>
        </li>

        <div class="menuList">
        <li style="--bg:#ffa117;">
            <a href="@Url.Action("Index", "Home")">
                <div class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <div class="text">Home</div>
            </a>
        </li>

        <li style="--bg:#0fc70f;">
            <a href="@Url.Action("Index","Shop")">
                <div class="icon">
                    <ion-icon name="pricetags-outline"></ion-icon>
                </div>
                <div class="text">Articoli</div>
            </a>
        </li>

        <li style="--bg:#2196f3;">
            <a href="#">
                <div class="icon">
                    <ion-icon name="cart-outline"></ion-icon>
                </div>
                <div class="text">Carrello</div>
            </a>
        </li>

        <div class="bottom">
            @if (User.IsInRole("Admin"))
            {
            <li style="--bg:#333;">
                <a href="@Url.Action("Index","Admin")">
                    <div class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </div>

                    <div class="text">Admin</div>
                </a>
            </li>
        }


            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Auth"))
                {
                    @Html.AntiForgeryToken()
                    <li style="--bg:#333;">


                        <div class="logoutBlock">
                            <button type="submit" id="logoutBtn">
                                <div class="icon">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                </div>
                            </button>
                            <div class="text">LOGOUT</div>
                        </div>
                    </li>
                }
            }
    </nav>
    </div>
    </ul>
    </div>



